.avatar {
    height: 120px;
    width: 120px;
    border-radius: 100%;
    align-items: center;
    margin-top: 10px;
}

.avatar-box {
    text-align: center;
}

.p1 {
    height: 200px;
    width: auto;
    background-color: rgb(232, 228, 228);
    background-size: cover;
    margin-top: 5px;
    text-align: left;
    padding-top: 7px;
    padding-left: 10px;
    

}

.footer-row{
    height: 200px;
    width: auto;
    padding-top: 20px;
    background-color: whitesmoke
}